.edit-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-content {
  padding: 20px;
  width: 1000px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
}
.image-section {
  display: flex;
  justify-content: space-around;
}
.edit-form {
padding-top: 50px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 0px;

  position: relative;
  width: 60%;
}

.edit-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

.update-button:hover {
  background-color: #0056b3;
}
.botones {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.close-button {
  background-color: #f44336;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: -20px;
  left: 940px;
  border-top-right-radius: 9px;
}

.close-button:hover {
  background-color: #d32f2f;
}
